<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>

<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">  
   <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
   <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
   <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
   
<title>素数判定　：　入力</title>

</head>

<body>

	<div class="container">

		<form action = "/prime" method = "post">
		
			<p>4桁までの自然数を入力してください※０は自然数に含みません(炎上)</p><input type = "text" name = "id"><br/>
		
			<!-- <input type = "text" name = "password"><br/> 
		
			<button type = "submit">送信</button> -->
			
			<button type = "submit" class="btn btn-success">素数かどうかを判定する！</button>
		
		</form>
		
	</div>
	
</body>

</html>