<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<title>マイページ</title> 
</head>
<body>
	
	<div class="mx-auto py-lg-5" style="width: 20em;">
		<p th:text ="|${username} さんのマイページ|"/>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">メニュー</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">お知らせ</div>
		</div>
	</div>
	

	
</body>
</html>